* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; /*gets rid of space between rows*/
    height: 800px;
    width: 600px;
}
img {
    height: 150px;
    width: 150px;
}